/* Estilos adicionales para el resto de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
    margin-top: 20px;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-section {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.menu-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    width: calc(33.33% - 50px);
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.menu-item img {
    width: 100%;
    border-radius: 8px 8px 0 0;

    max-width: 150px; /* Establece el ancho máximo */
    max-height: 150px; /* Establece la altura máxima */
}

.menu-item h2 {
    color: #555;
    margin-top: 10px;
}

.menu-item p {
    color: #777;
    margin: 5px 0;
}

.menu-item button {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.menu-item button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .menu-item {
        width: calc(50% - 20px);
    }
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el footer */
.footer {
    background-color: #fa6631;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}

.footer img {
    height: 50px;
    width: 50px;
    padding-bottom: 20px;
}

/* Estilos específicos */
.openModalBtn {
    background-color: rgba(13, 204, 23, 0.788);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#openModalBtn:hover {
    background-color: rgba(13, 204, 23, 1);
}

.btnCarrito {
    text-align: right;
    margin-right: 20px;
}

.btnCarrito button {
    /* Estilos para el botón dentro de .btnCarrito */
    background-color: rgba(13, 204, 23, 0.788);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: right;
    margin-right: 20px;
}

.btnCarrito button:hover {
    background-color: rgba(13, 204, 23, 1);
}

