body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
    margin-top: 20px;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-section {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.menu-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    width: calc(33.33% - 50px); /* Alinea tres elementos por fila */
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluye el borde y el padding en el ancho */
    display: inline-block;
    vertical-align: top;
}

.menu-item img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.menu-item h2 {
    color: #555;
    margin-top: 10px;
}

.menu-item p {
    color: #777;
    margin: 5px 0;
}

.menu-item button {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.menu-item button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .menu-item {
        width: calc(50% - 20px); /* Alinea dos elementos por fila en pantallas más pequeñas */
    }
}
